body {
  background-color: #f5f5fa;
}

.nav-link {
  color: #345dcc;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  position: relative;
  transition: all 0.8s;
}

.nav-link::before {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #345dcc;
  width: 0%;
  left: 10px;
  bottom: 3px;
  transition: all 0.8s;
}

.nav-link:visited {
  color: #345dcc;
}

.nav-link:hover {
  color: #0c2b7f;
}
.nav-link:hover::before {
  width: 70%;
}

.home {
  color: #345dcc !important;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  position: relative;
}

.home::before {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #345dcc;
  width: 70%;
  left: 10px;
  bottom: 3px;
}

.welcome h1,
h2 {
  color: #345dcc;
  font-size: 50px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  text-shadow: 2px 2px 100px #345dcc;
}

.learning {
  padding-bottom: 50px;
}

.learning h2 {
  font-size: 27px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: #2b2b2b;
  padding-top: 50px;
}

.learning-box {
  border: solid 2px #345dcc;
  padding: 50px 0px 50px 50px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(95, 95, 95);
}

.learning-box h3 {
  font-size: 23px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #2b2b2b;
}

.learning-box h4 {
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #2b2b2b;
  margin-top: 40px;
}

.progress {
  margin-top: 30px;
}

.my-progress-bar {
  background-color: #345dcc;
}

.learning-img img {
  width: 75%;
  margin-left: 40px;
}

.my-btn {
  background-color: #345dcc;
  color: white;
  font-family: "DM Sans", sans-serif;
  border-radius: 90px;
  padding: 10px 20px;
  transition: all 0.3s;
}

.my-btn:hover {
  background-color: #0c2b7f;
  color: white;
}

.for-content h2 {
  color: #2b2b2b;
  font-size: 40px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  padding-left: 50px;
}

.for-content h3 {
  color: #2b2b2b;
  font-size: 30px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;

  padding-left: 50px;
}

#exitBtn {
  background-color: rgb(237, 48, 48);
  padding: 5px 15px;
  border-style: none;
  border-radius: 8px;
  color: white;
  transition: all 0.3s;
}

#exitBtn:hover {
  background-color: rgb(228, 14, 14);
}

@media screen and (max-width: 500px) {
  nav .profile img {
    width: 70%;
    margin-left: 10px;
    padding-bottom: 15px;
  }

  .home::before {
    height: 15px;
    width: 8%;
    left: -10px;
    bottom: 12px;
  }

  .welcome h1,
h2 {
  font-size: 40px;

  padding-bottom: 5px;
}

.learning {
  padding-bottom: 50px;
  text-align: center;
}

.learning h2 {
  font-size: 25px;
  padding-top: 30px;
}
  
  .learning-box h3 {
    font-size: 22px;
    padding-right: 45px;
  }
  
  .learning-box h4 {
    font-size: 21px;
    padding-right: 45px;
    margin-top: 20px;
  }
  
  .progress {
    margin-top: 30px;

    margin-right: 40px;
  }


  .learning-img img {
    width: 90%;
    margin-left: 0px;
    padding-right: 40px;
    padding-top: 20px;
  }
  
  .my-btn {
    margin-right: 40px;
  }

  .for-content
  {
    text-align: left;
  }
  
.for-content h2 {
    color: #2b2b2b;
    font-size: 30px;

    margin-top: 20px;
    padding-left: 10px;
  }
  
  .for-content h3 {
    font-size: 25px;
    padding-left: 10px;
  }

  footer {
    padding-top: 60px;
    border-top: solid 2px #345dcc;
  }

  .logo-icons {
    width: 70%;
    margin: auto;
  }

  .fotter-icons {
    width: 100%;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer li {
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;

    padding-top: 40px;
  }

  footer li a {
    text-decoration: none;
    color: #345dcc;
  }

  .last-line {
    margin-top: 90px;
  }

  #exitBtn {
    margin-left: 30px ;
  }




}
