body
{
    background-color: #F5F5FA;
}


.for-image
{

    padding-bottom: 37px;
}

.for-image h1
{
    font-size: 40px;
    color: #345DCC;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    margin-top: 30px;
    margin-left: 40px;
}

.for-image h3
{
    font-size: 30px;
    color: #345DCC;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    margin-top: 20px;
    margin-left: 40px;
}

.hero img
{
    filter: drop-shadow(8px 8px 180px #345DCC);
    
}



.for-form h2 
{

    font-size: 28px;
    color: #345DCC;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    padding-left: 40px;
}

.for-form h4 
{

    font-size: 16px;
    color: #345DCC;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    padding-left: 45px;
    padding-top: 15px;

}

label
{
    margin-left: 80px;
    padding-bottom: 2px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
}

.for-form input:focus
{
    box-shadow: 0px 0px 0px 0px;
    border-color: #3498db;
}

.my-form
{
    background-color: #EDF2F7 ;
    
}

.for-form h6 a
{
    text-decoration: none;
    font-size: 11px;
    color: #345DCC;
    margin-left: 80px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}


.for-form .my-btn
{
    background-color: #345DCC;
    padding: 10px 150px;
    border-radius: 600px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    margin-top: 60px;
    transition: all 0.3s;

}

.for-form .my-btn:hover
{
    background-color: #1c40a2;
}

.another-way-sign-up
{
    margin-top: 40px;
}

.another-way-sign-up h6
{
    color: #718096;
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
    margin-right: 70px;
}

.icons-sign-up
{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.icon
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    font-size: 30px;
    color: #345DCC;
    box-shadow: 1px 1px 10px rgb(139, 139, 139);
    transition: all 0.3s;
}

.icon:hover
{
    background-color: #345DCC;
    color: white;
}

.to-login
{
    color: #718096;
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.to-login a
{
    text-decoration: none;
    color: #345DCC;

}
